body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker_public {
    background: no-repeat content-box url('./Map_marker.svg');
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 600px !important;
    max-height: 600px;
}

h1 {
    text-align: center;
}

.box_informations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.address {
    margin-bottom: 0;
}

.city {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
th,
td {
    border: 3px solid white;
    width: 2rem;
}

th {
    background-color: #ffd699;
}

td {
    background-color: #ffebcd;
}

.morning_hours {
    border-bottom: none;
}

.morning_hours_summer {
    border-top: none;
    color: #3186d6;
}

.hours_informations_box {
    text-align: center;
    color: #3186d6;
}

.box_waste {
    display: flex;
    justify-content: space-evenly;
}

.box_waste_authorized,
.box_waste_forbidden {
    width: 50%;
    text-align: center;
    color: white;
}

.box_waste_authorized ul,
.box_waste_forbidden ul {
    list-style-type: none;
    padding: 0;
    padding-inline-start: 0;
    border-top: 1.5px solid white;
}

.box_waste_authorized li:first-child,
.box_waste_forbidden li:first-child {
    margin-top: 1rem;
}

.box_waste_authorized {
    background-color: #32620e;
    border-right: 1.5px solid white;
}

.box_waste_authorized ul {
    background-color: #9dcd5a;
    height: 88%;
}

.box_waste_forbidden {
    background-color: #bc1823;
}

.box_waste_forbidden ul {
    background-color: #ff6949;
    height: 88%;
}
